@font-face {
	font-family: 'Baby';
	src: url(../font/BABYK___.TTF);
} 

body {
  background-image: url(../img/laugh.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.button {
  background-color: #33d7e2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sesuatu {
  font-family: 'Baby';
  color: whitesmoke;
	font-size: 200px;
  text-align: center;
  margin-top: 0;
}
